* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", helvetica, sans-serif;

}

section {
  max-width: 900px;
  margin: auto;
}

/******************* NAV BAR *****************/
nav {
  font-size: 18px;
  overflow: auto;
  width: 100%;
  background-color: #06d6a0;

}

nav h1 {
  display: inline-block;
  color: white;
  padding: 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  padding-right: 20px;

}

nav ul li {
  font-size: 19px;
  display: inline-block;
  padding: 20px 7px;
}

  /*************** WELCOME SECTION *************/
section.welcome {
  overflow: auto;
  background-color: #26547c;

}

div.wallpaper {
  display: inline-block;
  float: left;
  width: 60%;
  padding-bottom: 2px;


}

figure.wallpaper {
  display:inline-block;
}

.message {
  float: right;
  width: 40%;
}

.welcome .message h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 25px;
}
  /*************** CATS SECTION *************/
section.cats {

  background-color: #FFD166;
}

.cats h1 {
  font-size: 22px;
  font-weight: bold;
  padding: 50px 0px 10px 21px;
}

.cats p {
  font-size: 20px;
  padding: 15px 0px 10px 20px;
}

div.cat-container {
  padding-bottom: 32px;
}

  /*************** PRODUCTS SECTION *************/
section.products {
  background-color: #F2F2F2;
  padding: 30px 20px;

}

section.products h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 12px 0px;
}

section.products p {
  font-size: 20px;
  margin: 16px 0px;
}

div.prod-pictures {
  overflow: auto;
}

div.prod-pictures figure {
  border: 3px solid black;
  display: inline-block;
  width: 30%;
  margin: 12px;
}

  /*************** PRODUCTS SECTION *************/
section.about {
  background-color: #26547C;
  padding: 30px 20px;
}

.team {
  overflow: auto;
}

.team > div {
  text-align: center;
  float: left;
  display: inline-block;
  color: #EF476F;
  width: 33.333333333333%;

}

div.team h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 22px 0px;
}

section.about p {
  color: white;
  font-size: 20px;
  margin: 16px 0px;
}


footer {
  overflow: auto;
  background-color: #06D6A0;
  padding: 0px 20px;
}

div.footer {
  float: right;
  padding: 16px 0px;
  font-size: 20px;

}
